<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
</section>
<main id="content"> {%block content%}{% endblock %} </main>
<section class="message">
 {% for category,msg in get_flashed_messages(with_categories=true) %}
 <p class="{{category}}">{{category}} {{msg}}</p>
 {% endfor %}
 <footer>pretend i am a footer!</footer>
 <div class="tenor-gif-embed" data-postid="15302742" data-share-method="host" data-aspect-ratio="1.84971" data-width="25%"><a href="https://tenor.com/view/mel-gibson-give-me-back-my-son-shouting-mad-gif-15302742">Mel Gibson Give Me Back My Son GIF</a>from <a href="https://tenor.com/search/mel+gibson-gifs">Mel Gibson GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> 
</body>
</html>