{% extends "base.html" %}

{% block title %} Customer Satisfaction Survey {% endblock %}
{% block content %}
<h1>Question {{id+1}}</h1>
<h1>{{current_question}}</h1>
 
<form action="/answers" method="POST">
    {{choice1}}
        <input type="radio" name="answer" value="{{choice1}}">    
    {{choice2}}
        <input type="radio" name="answer" value="{{choice2}}">
    <button>Submit!</button>
</form>

{% endblock %}


<!-- <fieldset>
    <legend>Select a maintenance drone:</legend>
  
    <div>
      <input type="radio" id="huey" name="drone" value="huey" checked />
      <label for="huey">Huey</label>
    </div>
  
    <div>
      <input type="radio" id="dewey" name="drone" value="dewey" />
      <label for="dewey">Dewey</label>
    </div>
  
    <div>
      <input type="radio" id="louie" name="drone" value="louie" />
      <label for="louie">Louie</label>
    </div>
  </fieldset>
   -->